@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root {
  /* ========================== COLOR THEME ========================== */
  --black: #303841;
  --grey: #EEEEEE;
  --orange: #FF5722;
  --teal: #00ADB5;

  /* ========================== TYPOGRAPHY ========================== */
  --default-font-size: 12px;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --line-height: 1.8rem;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  color: var(--black);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: var(--regular);
  font-size: var(--default-font-size);
  line-height: var(--line-height);
}


.h1,
.h2 {
  font-weight: var(--bold);
}

.h1 {
  font-size: 4rem;
}

.h2 {
  font-size: 3.5rem;
}
